//- Pug zwraca wieeeeeeelka uwagę na wciecia!!! jak sa zle wciecia to sie wysypuje

extends layout

block content
    .row
        .col-md-4
            .card
                .card-header
                    h3 Dodaj zadanie
                .card-body
                    form(action="/addme", method="POST")
                        .form-group
                            label(for='labeltodo') Wprowadź treść:
                            input.form-control#labeltodo(type='text', name="title")
                        button(type="submit").btn.btn-primary.btn-block
                            i.fas.fa-plus.pl-1 
                            
 
        .col-md-8
            
            table.table.table-striped
                thead
                    tr
                    
                    th(scope='col') Zadanie
                    th(scope='col') Edytuj
                    th(scope='col') Usuń
                tbody
                    each todo in todos
                        tr
                             
                             td= todo.title
                             td 
                                a(href="/editme/"+ todo.id).btn.btn-info.btn-sm 
                                    i.fas.fa-pencil-alt
                             td
                                form(method="post", action="/deleteme/" + todo.id + "?_method=delete")
                                    button(type="submit").btn.btn-danger.btn-sm 
                                         i.fas.fa-trash-alt
                    