nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
  a.navbar-brand(href='/') samo MISIE nie zrobi
  
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    ul.navbar-nav
      //- li.nav-item.active
      //-   a.nav-link(href='/')
      //-     | Strona główna
      //-     span.sr-only (current)
      li.nav-item
        a.nav-link(href='/') ASAP
      li.nav-item
        a.nav-link(href='/') Nie ASAP
      li.nav-item
        a.nav-link(href='/') Jak zostanie czas
      
