//- Pug zwraca wieeeeeeelka uwagę na wciecia!!! jak sa zle wciecia to sie wysypuje

extends layout

block content
    .row
        .col-md-4
            .card
                .card-header
                    h3 Dodaj zadanie
                .card-body
                    form(action="/addme", method="POST")
                        .form-group
                            label(for='labeltodo') Dodaj zadanie:
                            input.form-control#labeltodo(type='text', name="title")
                        input(type="submit", value="Dodaj").btn.btn-primary.btn-block
        .col-md-8
            table.table.table-striped
                thead
                    tr
                    th(scope='col') #
                    th(scope='col') First
                    th(scope='col') Last
                    th(scope='col') Handle
                tbody
                    tr
                    th(scope='row') 1
                    td Mark
                    td Otto
                    td @mdo
                    tr
                    th(scope='row') 2
                    td Jacob
                    td Thornton
                    td @fat
                    tr
                    th(scope='row') 3
                    td Larry
                    td the Bird
                    td @twitter