,<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>samoMISIEniezrobi</title>
</head>

<body>
    <div id="topbar">
        <h1>samoMISIEniezrobi mustasz</h1>
    </div>
    <form action = "/todos" method="post">
    <input type = "text" name = "description">
<button type = "submit">Dodaj</button>

    <div id="root"></div>

    <script src="./bundle.js"></script>
</body>

</html>